@import url('https://id.vexere.cuongdev.click/admins/assets/libs/summernote/summernote-bs4.min.css');

.swiper-button-prev,
.swiper-button-next {
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    height: 30px !important;
    align-items: center;
    width: 30px !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 14px !important;
    font-weight: 600 !important;
    color: #4b4949 !important;
}

.scroll-horizontal::-webkit-scrollbar {
    height: 5px !important;
}

.swiper-pagination-bullet {
    width: 20px !important;
    height: 20px !important;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000 !important;
    opacity: 1 !important;
    background: rgba(0, 0, 0, 0.2) !important;
}

.swiper-pagination-bullet-active {
    color: #fff !important;
    background: #007aff !important;
}

.hidden-select-border div {
    border: none !important;
}

.hidden-select-border div.css-1hb7zxy-IndicatorsContainer {
    display: none;
}

.react-date-picker .react-date-picker__wrapper {
    border: none;
}

.react-datepicker-wrapper {
    width: 100%;
}

input[type="radio"]:checked~label {
    background-color: #2474E5;
    color: #2474E5;
}

input[type=checkbox] {
    /* -ms-transform: scale(1.075); */
    /* IE */
    /* -moz-transform: scale(1.075); */
    /* FF */
    /* -webkit-transform: scale(1.075); */
    /* Safari and Chrome */
    /* -o-transform: scale(1.075); */
    /* Opera */
    /* transform: scale(1.075); */
}

.title-box-1-line {
    text-decoration: none;
    line-height: 20px;
    max-height: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    --webkit-user-select: none;
}

.dashed-left-border {
    border-left: 1px dashed #F2F2F2;
}

.active-btn {
    border: 1px solid #2474e5;
    color: rgb(36,116,229);
}

.react-datepicker-popper {
    z-index: 2 !important;
}

.rating:hover {
    color: #fddf47;
}